In [1]:
from itsdangerous import json
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.inspection import inspect
from config import username, password, host, port, protocol
import seaborn as sns
import os

### Extract CSVs into DataFrames for

#### View Head of Dataframe

In [2]:
# Read Deflator CSV Head
Deflator_file = "../Project_2_Inflation/DATA/Annual_Inflation_by_GDP_Deflator.csv"
Deflator_df = pd.read_csv(Deflator_file, compression='gzip')
Deflator_df.head()

,Country,Country_Code,Percent_Annual_Inflation_in_Year_1961,Percent_Annual_Inflation_in_Year_1962,Percent_Annual_Inflation_in_Year_1963,Percent_Annual_Inflation_in_Year_1964,Percent_Annual_Inflation_in_Year_1965,Percent_Annual_Inflation_in_Year_1966,Percent_Annual_Inflation_in_Year_1967,Percent_Annual_Inflation_in_Year_1968,...,Percent_Annual_Inflation_in_Year_2011,Percent_Annual_Inflation_in_Year_2012,Percent_Annual_Inflation_in_Year_2013,Percent_Annual_Inflation_in_Year_2014,Percent_Annual_Inflation_in_Year_2015,Percent_Annual_Inflation_in_Year_2016,Percent_Annual_Inflation_in_Year_2017,Percent_Annual_Inflation_in_Year_2018,Percent_Annual_Inflation_in_Year_2019,Percent_Annual_Inflation_in_Year_2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.107301,0.789086,3.286686,2.003480,0.439924,-1.371485,1.614052,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1.861701,0.979878,3.285364,3.726978,3.569951,4.054547,1.356485,3.397723,...,9.430270,6.992016,5.844111,5.401164,5.366462,6.400900,5.217431,4.095047,4.252789,5.373589
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.593347,7.301756,4.822785,0.566945,2.447563,-2.197526,2.403656,2.071349,6.521480,7.821667
3,Africa Western and Central,AFW,3.336148,2.432663,3.013917,2.906178,2.752432,4.143079,1.280375,2.031465,...,8.789841,4.730095,1.573135,0.280788,1.992846,1.784172,1.759106,2.639372,1.582290,1.128352
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.771549,7.255670,2.839789,3.560821,-3.518386,21.774240,22.614512,29.065954,28.090677,9.385221

In [3]:
# Read Unemployment CSV Head
Unemployment_file = "../Project_2_Inflation/DATA/inflation_interest_unemployment.csv"
Unemployment_df = pd.read_csv(Unemployment_file)
Unemployment_df.head()

,country,year,"Inflation, consumer prices (annual %)","Inflation, GDP deflator (annual %)",Real interest rate (%),Deposit interest rate (%),Lending interest rate (%),"Unemployment, total (% of total labor force) (national estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",iso3c,iso2c,adminregion,incomeLevel
0,Afghanistan,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
1,Afghanistan,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
2,Afghanistan,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
3,Afghanistan,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
4,Afghanistan,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income

In [4]:

# Read Inflation CSV Head
Inflation_file = "../Project_2_Inflation/DATA/inflation.csv"
Inflation_df = pd.read_csv(Inflation_file)
Inflation_df.head()

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,0,1913.0,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0
1,1,1914.0,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1
2,2,1915.0,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3
3,3,1916.0,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6
4,4,1917.0,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7

In [5]:
# Read Deflator_2 Json Head
Deflator_2_file = os.path.join("../Project_2_Inflation/DATA/Annual_Inflation_by_GDP_Deflator-2.json")
with open(Deflation_2_file) as jsonfile:
Deflator_2_df = pd.read_json(Deflator_file, compression='gzip')
Deflator_2_df.head()

IndentationError: expected an indented block (3865685364.py, line 4)

#### View Tail of Dataframe

In [ ]:
# Read Deflator CSV Tail
Deflator_df.tail()

,Country,Country_Code,Percent_Annual_Inflation_in_Year_1961,Percent_Annual_Inflation_in_Year_1962,Percent_Annual_Inflation_in_Year_1963,Percent_Annual_Inflation_in_Year_1964,Percent_Annual_Inflation_in_Year_1965,Percent_Annual_Inflation_in_Year_1966,Percent_Annual_Inflation_in_Year_1967,Percent_Annual_Inflation_in_Year_1968,...,Percent_Annual_Inflation_in_Year_2011,Percent_Annual_Inflation_in_Year_2012,Percent_Annual_Inflation_in_Year_2013,Percent_Annual_Inflation_in_Year_2014,Percent_Annual_Inflation_in_Year_2015,Percent_Annual_Inflation_in_Year_2016,Percent_Annual_Inflation_in_Year_2017,Percent_Annual_Inflation_in_Year_2018,Percent_Annual_Inflation_in_Year_2019,Percent_Annual_Inflation_in_Year_2020
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.303690,3.525404,0.353023,1.601439,0.607803,0.779272,0.439986,1.498920,0.962931,1.381107
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.113564,5.893275,9.209066,7.163193,46.476251,0.134411,18.553566,14.853665,NaN,NaN
263,South Africa,ZAF,1.351841,0.383169,3.274555,1.989880,2.954125,4.372091,4.026408,3.797750,...,5.539056,4.685206,5.844111,5.366546,5.545528,6.952172,5.473322,3.956474,4.499449,5.273230
264,Zambia,ZMB,-3.655832,2.091562,0.403600,4.083105,10.589055,23.641852,0.262874,15.939905,...,11.112307,6.992016,9.731210,5.435782,6.659292,13.552485,10.095730,7.411571,7.633470,13.743502
265,Zimbabwe,ZWE,-2.041300,0.469618,-2.347740,6.144012,2.704143,-3.729967,0.576562,3.866207,...,2.553176,4.028577,9.370603,-0.252141,0.607814,2.160993,2.437608,59.803356,440.829791,558.560024

In [ ]:
# Read Unemployment CSV Tail
Unemployment_df.tail()

,country,year,"Inflation, consumer prices (annual %)","Inflation, GDP deflator (annual %)",Real interest rate (%),Deposit interest rate (%),Lending interest rate (%),"Unemployment, total (% of total labor force) (national estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",iso3c,iso2c,adminregion,incomeLevel
13827,Zimbabwe,2017,0.893962,2.437608,4.370035,3.274167,6.914167,NaN,4.785,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13828,Zimbabwe,2018,10.618866,59.803356,-32.960315,2.532500,7.131667,NaN,4.796,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13829,Zimbabwe,2019,255.304991,440.829791,-78.517887,2.975000,16.181667,16.860001,4.833,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13830,Zimbabwe,2020,557.201817,558.560024,-79.803157,4.518333,33.008333,NaN,5.351,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13831,Zimbabwe,2021,NaN,NaN,NaN,8.059167,45.476667,NaN,5.174,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income

In [ ]:
# Read Inflation CSV Tail

Inflation_df.tail()

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
105,105,2018.0,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233
106,106,2019.0,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974
107,107,2020.0,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,260.388,260.229,260.474
108,108,2021.0,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.310,276.589,277.948,278.802
109,109,2022.0,281.148,283.716,287.504,289.109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Read Deflator_2 Json tail
# Deflator_2_df.tail()

### Print-out All Possible Graphs(Isaac Taught me this but it takes for ever)

In [ ]:

# sns.pairplot(Deflator_df)

In [ ]:

# sns.pairplot(Unemployment_df)

In [ ]:

# sns.pairplot(Inflation_df)

In [ ]:
# sns.pairplot(Deflator_2_df)

### Transform Deflator DataFrame

In [ ]:
# Create a filtered dataframe from specific columns
Deflator_cols = ["License Serial Number", "Premises Name", "County ID Code"]
Deflator_transformed= Deflator_df[Deflator_cols].copy()

# Rename the column headers
Deflator_transformed = Deflator_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
Deflator_transformed.drop_duplicates("id", inplace=True)
Deflator_transformed.set_index("id", inplace=True)

Deflator_transformed.head()

### Transform Unemployment Dataframe

In [ ]:
# Create a filtered dataframe from specific columns
Unemployment_cols = ["License Serial Number", "Premises Name", "County ID Code"]
Unemployment_transformed= Unemployment_df[Unemployment_cols].copy()

# Rename the column headers
Unemployment_transformed = Unemployment_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
Unemployment_transformed.drop_duplicates("id", inplace=True)
Unemployment_transformed.set_index("id", inplace=True)

Unemployment_transformed.head()

### Transform Inflation Dataframe

In [ ]:
# Create a filtered dataframe from specific columns
Inflation_cols = ["License Serial Number", "Premises Name", "County ID Code"]
Inflation_transformed= Inflation_df[Inflation_cols].copy()

# Rename the column headers
Inflation_transformed = Inflation_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
Inflation_transformed.drop_duplicates("id", inplace=True)
Inflation_transformed.set_index("id", inplace=True)

Inflation_transformed.head()

### Transform Deflator_2 Dataframe

In [ ]:
# Create a filtered dataframe from specific columns
Deflator_2_cols = ["License Serial Number", "Premises Name", "County ID Code"]
Deflator_2_transformed= Deflator_2_df[Deflator_cols].copy()

# Rename the column headers
Deflator_2_transformed = Deflator_2_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
Deflator_2_transformed.drop_duplicates("id", inplace=True)
Deflator_2_transformed.set_index("id", inplace=True)

Deflator_2_transformed.head()

### Create database connection

### Load DataFrames into database