In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.inspection import inspect
from config import username, password, host, port, protocol

### Extract CSVs into DataFrames

In [7]:
Deflator_file = "../Project_2_Inflation/DATA/Annual_Inflation_by_GDP_Deflator.csv"
Deflator_df = pd.read_csv(Deflator_file, compression='gzip')
Deflator_df.head()

,Country,Country_Code,Percent_Annual_Inflation_in_Year_1961,Percent_Annual_Inflation_in_Year_1962,Percent_Annual_Inflation_in_Year_1963,Percent_Annual_Inflation_in_Year_1964,Percent_Annual_Inflation_in_Year_1965,Percent_Annual_Inflation_in_Year_1966,Percent_Annual_Inflation_in_Year_1967,Percent_Annual_Inflation_in_Year_1968,...,Percent_Annual_Inflation_in_Year_2011,Percent_Annual_Inflation_in_Year_2012,Percent_Annual_Inflation_in_Year_2013,Percent_Annual_Inflation_in_Year_2014,Percent_Annual_Inflation_in_Year_2015,Percent_Annual_Inflation_in_Year_2016,Percent_Annual_Inflation_in_Year_2017,Percent_Annual_Inflation_in_Year_2018,Percent_Annual_Inflation_in_Year_2019,Percent_Annual_Inflation_in_Year_2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.107301,0.789086,3.286686,2.003480,0.439924,-1.371485,1.614052,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1.861701,0.979878,3.285364,3.726978,3.569951,4.054547,1.356485,3.397723,...,9.430270,6.992016,5.844111,5.401164,5.366462,6.400900,5.217431,4.095047,4.252789,5.373589
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.593347,7.301756,4.822785,0.566945,2.447563,-2.197526,2.403656,2.071349,6.521480,7.821667
3,Africa Western and Central,AFW,3.336148,2.432663,3.013917,2.906178,2.752432,4.143079,1.280375,2.031465,...,8.789841,4.730095,1.573135,0.280788,1.992846,1.784172,1.759106,2.639372,1.582290,1.128352
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.771549,7.255670,2.839789,3.560821,-3.518386,21.774240,22.614512,29.065954,28.090677,9.385221

In [8]:
Unemployment_file = "../Project_2_Inflation/DATA/inflation_interest_unemployment.csv"
Unemployment_df = pd.read_csv(Unemployment_file)
Unemployment_df.head()

,country,year,"Inflation, consumer prices (annual %)","Inflation, GDP deflator (annual %)",Real interest rate (%),Deposit interest rate (%),Lending interest rate (%),"Unemployment, total (% of total labor force) (national estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",iso3c,iso2c,adminregion,incomeLevel
0,Afghanistan,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
1,Afghanistan,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
2,Afghanistan,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
3,Afghanistan,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
4,Afghanistan,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income

In [9]:
Inflation_file = "../Project_2_Inflation/DATA/inflation.csv"
Inflation_df = pd.read_csv(Inflation_file)
Inflation_df.head()

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,0,1913.0,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0
1,1,1914.0,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1
2,2,1915.0,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3
3,3,1916.0,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6
4,4,1917.0,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7

### Transform premise DataFrame

### Transform county DataFrame

### Create database connection

### Load DataFrames into database